@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

:root {
  font-family: "Nunito";
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* removes horizontal scrollbar */
}
/* Card style for Win11 effect */
.card {
  @apply bg-white shadow-md rounded-2xl p-4;
}
